@media (max-width: 1120px){
    .cabecalho .logo{
        max-width: 190px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .selecao-de-personagens .personagens{
        margin-top: 37px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 15px;
    }

    .selecao-de-personagens .lista-de-personagens{
        gap: 9px
    }

    .selecao-de-personagens .personagem img{
        width: 80px;
    }

    .personagem-selecionado .personagem-grande{
        width: 350px;
        height: 350px;
    }

    .personagem-selecionado .descricao-personagem{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }

}